<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="landing-container">
  <div class="logo-container">
    <img class="logo" src="assets/images/background.jpg" alt="Logo">
    <div class="logo-text">COOL STYLE, COOLER FEET</div>
  </div>

  <div class="shoes-header">
    <div class="shoes-title">
      <hr>
      <div class="shoes-title-content">
        <span class="shoes-main-title">All Sneakers for Men <span class="shoes-count">(20)</span></span>
        <i class="material-icons cart-icon">shopping_cart</i>
      </div>
      <hr>
    </div>
  </div>

  <app-filter class="shoes-width"></app-filter>

  <app-table [shoes]="products"></app-table>

</div>