* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shoes-width {
  width: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 65px;
  width: 100%;
}