<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="landing-container">
  <div class="logo-container">
    <img class="logo" src="assets/images/background.jpg" alt="Logo">
    <div class="logo-text">COOL STYLE, COOLER FEET</div>
  </div>

  <div class="shoes-header">
    <div class="shoes-title">
      <hr>
      <span class="shoes-main-title">All Sneakers for Men <span class="shoes-count">(20)</span></span>
      <hr>
    </div>
    <i class="material-icons cart-icon">shopping_cart</i>
  </div>

  <div class="shoe-grid">
    <img src="assets/images/1_1.jpg" alt="Shoe 1">
    <img src="assets/images/2_1.jpg" alt="Shoe 2">
    <img src="assets/images/3_1.jpg" alt="Shoe 3">
    <img src="assets/images/4_1.jpg" alt="Shoe 4">
    <img src="assets/images/5_1.jpg" alt="Shoe 5">
    <img src="assets/images/6_1.jpg" alt="Shoe 6">
    <!-- Add more shoes as needed -->
  </div>
</div>