<div class="filter-container">
    <div class="filter-options">
        <span *ngFor="let category of categories; let i = index" (click)="selectCategory(category, i)"
            [class.selected]="selectedCategory === category">
            {{ category }}
            <hr>
        </span>
    </div>

    <div class="sort-container">
        <label for="sort">Sort by:</label>
        <select id="sort" [(ngModel)]="selectedSortOption" (change)="sortProducts()">
            <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
        </select>
    </div>
</div>
<hr class="filter-line">    